<%- include('include/head')%>
<%- include('include/nav')%>

<div class="container">
  <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="text-center">Agenda</h1>
        <%- include('include/messages') %>
        <%if(contatos.length > 0) {%>
          <div class="responsive-table">
            <table class="table my-3">
              <p class="text-center lead">Seus contatos estão abaixo</p>
              <% contatos.forEach(contato => {%>
                <tr>
                  <td><%= contato.nome%></td>
                  <td><%= contato.sobrenome%></td>
                  <td><%= contato.email%></td>
                  <td><%= contato.telefone%></td>
                  <td><a href="/contato/index/<%= contato._id%>">Editar</a> </td>
                  <td><a class="text-danger" href="/contato/delete/<%= contato._id%>">Delete</a> </td>
                </tr>        
              <%});%>
            </table>
          </div>
        <%} else {%>
          <P class="text-center lead">Não exisem contatos na sua agenda</P>
        <%}%>
      </div>
      <div class="col-lg-2"></div>
  </div>
</div>

<%- include('include/footer')%>